.popover {
	position: absolute;
	top: 15%;
	right: 0%;
	width: auto;
	height: auto;
	font-size: 18px;
	z-index: 10;
	text-align: left;
	background-color: var(--site-default-popover-bg);
	padding: 10px;
	border-radius: 0px 0px 10px 10px; 	
}

.title,
.nickname {	
	margin: 0px;	
	padding: 5px;	
}

.nickname {
	border-radius: 0 0px 10px 10px;
}


@media screen and (max-width: 1199.98px) {
	.popover {
		right: 0%
	}
}