.posterImg {
	width: 45%;
	height: 500px;
	object-fit: cover;
	float: left;
    margin-right: 3%;
    border-radius: var(--site-small-borderRadius);
}

ul {
	text-align: left;
	list-style-position: inside;
	list-style-type: square;
}

ul li {
	color: var(--site-active-color);
}

@media (max-width: 767.98px) {
    .posterImg {
        float:none;
        width: 80%
    }
}
