.paginateBtn {
	font-size: var(--site--small-fs);
}

.active {
	transform: scale(1.05);
	animation: activeBtn 0.1s ease forwards;
}

@keyframes activeBtn {
	from {
		transform: scale(1);
		color: var(--site-default-color);
	}
	to {
		transform: scale(1.05);
		color: var(--site-active-color);
	}
}

.arrows {
	outline: none;
	background: none;
	border: none;
	font-size: 24px;
	color: #0d6efd;
}

/* медиа запросы */
@media screen and (min-width: 576px) and (max-width: 991.98px) {
	.paginateBtn {
		font-size: var(--site-small-fs);
	}
}

@media (max-width: 575.98px) {
	.pagintate {
		padding: 0px !important;
	}

	.paginateBtn {
		font-size: var(--site-smallest-fs);
		margin: 0 3px !important;
	}

	.arrows {
		font-size: 20px !important;
	}
}
