p {
	text-align: justify;
	font-size: var(--site-medium-fs);
}

p:nth-child(3) {
	clear: both;
	margin-top: 50px !important;
}

@media (max-width: 1199px) {
	blockquote,
	p,
	ul {
		font-size: 20px;
	}
}

@media (max-width: 767.98px) {
	.header_1 {
		font-size: var(--site-medium-fs);
	}
	p:nth-child(3) {
		margin-top: 15px !important;
	}
}

@media (max-width: 575.98px) {
	blockquote,
	p,
	ul {
		font-size: var(--site-smallest-fs);
	}
}
