nav {
	width: 40%;
}

nav ul {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	padding: 0px;
	margin: 0px;
	list-style-position: inside;
	list-style-type: none;
	font-family: var(--site-menu-ff);
}

nav a {
	text-decoration: none;
	font-family: var(--site-menu-ff);
	font-weight: 500;
}

.activeLinks {
	color: var(--site-active-color);
	text-shadow: 2px 2px 6px rgb(223, 66, 14);
}

