nav {
	width: 62%;
}

nav ul {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	padding: 0px;
	margin: 0px;
	list-style-position: inside;
	list-style-type: none;
	font-family: var(--site-menu-ff);
}

nav a {
	text-decoration: none;
	font-family: var(--site-menu-ff);
	font-weight: 500;
}

nav a:last-child {
	text-decoration: none;
	font-family: var(--site-menu-ff);
	font-weight: 500;
	color: var(--site-logo-color);
	border: 2px solid var(--site-logo-color);
	padding: 4px;
}

.activeLinks {
	color: var(--site-active-color);
	text-shadow: 2px 2px 6px rgb(223, 66, 14);
}

@media screen and (max-width: 991.98px) {
	nav {
		width: 0%;
	}

	nav ul {
		width: 40%;
		flex-direction: column;
		position: absolute;
		top: 110%;
		left: 3%;
		background-color: var(--site-default-popover-bg);
		padding: var(--site-small-pd);
		z-index: 10;
		border: 2px solid var(--site-active-color);
		align-items: center;
		border-radius: 0 0 10px 10px;
		transform: translateX(-120%);
		transition: 0.07s transform linear;
	}

	.active {
		transform: translateX(0%);
	}

	nav a {
		font-size: var(--site-small-fs);
	}

	nav a::after {
		content: "";
		height: 2px;
		width: 90%;
		display: block;
		margin: 1px auto;
		background-color: var(--site-default-color);
		opacity: 0.3;
	}

	nav a:last-child::after {
		display: none;
	}

	nav a:last-child {
		border: none;
	}
}

@media screen and (min-width: 767.98px) and (max-width: 991.98px) {
	nav ul {
		width: 33%;
	}
}

@media screen and (max-width: 575.98px) {
	nav ul {
		width: 45%;
	}
}
