h3 {
	font-size: var(--site-big-fs);
	font-weight: 400;
	color: var(--site-active-color);
}


/* контейнер информации с биографией */
.bio {
	text-align: left;
	height: auto;	
}

h4 {	
	font-weight: 400;
	color: var(--site-active-color);
}

.bio span {
	display: block;	
}

.occupation__ul {
	padding: 0px;
	list-style-position: inside;
	list-style-type: square;
}

b {
	font-weight: 600;
	opacity: 0.8;
	color: var(--site-default-spinnerColor);
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.bio {
		font-size: var(--site-small-fs);		
	}
}

@media screen and (max-width: 767.98px) {
	.bio {
		font-size: var(--site-small-fs);
		text-align: center;
	}

	h3 {
		font-size: var(--site-medium-fs);
	}
}
