.burgerDiv {
	/* width: 10%; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	transition: 0.4s all linear;
}

.GiHamburger {
    display: none;
}

@media screen and (max-width: 991.98px) {
    .GiHamburger {
        display: block;
        font-size: 30px!important;
		margin: 0 5px;
    }
} 
