.MdPersonDiv {
	width: 13%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-left: auto; */
	font-size: 40px;
}

.MdPersonDiv span:first-of-type {
	position: relative;
	top: -5px;
}

.favouriteCountSpan {
	margin: 0 3px;
	font-size: 40px;
}


@media screen and (max-width: 767.98px) {
	.MdPersonDiv {
		font-size: 30px;
		/* margin-left: 30px;		 */
	}
	.MdPerson {
		font-size: 30px !important;
		display: block;			
	}
	.favouriteCountSpan {
		margin: 0 3px;
		font-size: 30px;
	}		
}
