.sort {
	text-align: right;
	position: absolute;
	top: 0.1%;
	right: 0.1%;
	width: auto;
	z-index: 7;
	display: flex;
	justify-content: center;
	margin: 5px 0;
}

.sort span {
	cursor: pointer;
	transition: 0.1s all;
	margin: 0px 5px;
}

.sort span:hover {
	color: var(--site-active-color);
	transform: scale(1.01);
}

.popup {
	list-style-position: inside;
	list-style-type: none;
	padding: 0;
	width: 20%;
	background-color: var(--site-default-semantic-bg);
	padding: 10px;
	border-radius: var(--site-small-borderRadius);
	position: absolute;
	top: 0.6%;
	right: 1%;
	z-index: 10;
	display: none;
	transition: 0.3s all ease;
}

.popup.active {
	display: block;
}

.popup_li {
	margin: 1rem;
}

.popup_li.selected {
	color: var(--site-active-color);
}

.popup_li::after {
	content: "";
	display: block;
	height: 1px;
	margin: 1px auto;
	width: 90%;
	background-color: var(--site-default-color);
}

/* Медиа-запросы */

@media screen and (max-width: 1399.98px) {
	.popup {
		width: 20%;
		font-size: var(--site-small-fs);
		top: 0.45%;
	}
}

@media screen and (max-width: 991.98px) {
	.sort {
		position: static;
		font-size: var(--site-small-fs);
	}
	.popup {
		width: 40%;
		font-size: var(--site-small-fs);
		top: 0.5%;
	}
}

@media screen and (max-width: 767.98px) {
	.popup {
		width: 60%;
		font-size: var(--site-small-fs);
		top: 0.22%;
	}
}

@media screen and (max-width: 575.98px) {
	.popup {
		width: 60%;
		font-size: var(--site-small-fs);
		top: 0.22%;
	}
}
