.cardModify {	
	margin: var(--site-small-mr);
	background-color: var(--site-default-input-bg);
	padding: var(--site-small-pd);
	height: 530px;
    position: relative;
}

.imgModify {
	width: 90%;
	margin: 0 auto;
	height: 80%;
	object-fit: cover;
	display: block;
	border-radius: var(--site-small-borderRadius);
    transition: 0.4s all linear;
    filter: grayscale(60%)
}

.imgModify:hover {
    transform: scale(1.05);
    filter: none;
}

.cardTextModify {
	text-align: center;
}
