.App {
	text-align: center;
	font-size: var(--site-medium-fs);
	color: var(--site-default-color);
}

/* Заголовок первого уровня на разных страницах сайта */

.header_1 {
	color: var(--site-default-color);
	text-transform: uppercase;
	margin: var(--site-small-mr) 0px;
}

/* основная часть */
main {
	min-height: 84vh;
	padding: var(--site-small-pd);
	font-family: "Roboto";
	
}


footer {
	background-color: var(--site-default-semantic-bg);
	padding: var(--site-small-pd);
	min-height: 8vh;
	font-family: var(--site-menu-ff)
}
