.App {
	text-align: center;
	font-size: var(--site-medium-fs);
	color: var(--site-default-color);
}

.header {
	background-color: var(--site-default-semantic-bg);
	min-height: 6vh;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	color: var(--site-default-color);
	padding: var(--site-small-pd);
}

/* Заголовок первого уровня */
.header_1 {
	color: var(--site-default-color);
	text-transform: uppercase;
	margin: var(--site-small-mr) 0px;
}

main {
	min-height: 84vh;
	padding: var(--site-small-pd)
}

footer {
	background-color: var(--site-default-semantic-bg);
	padding: var(--site-small-pd);
	min-height: 8vh;
}
